@import url('https://fonts.googleapis.com/css?family=Arimo');

$clr-prime: #0021ff;
$clr-light: #fcfcfc;
$clr-dark: rgba(29, 29, 29, 0.98);

html, body, h1, h2, h3, h4, h5, h6, p, pre, div {
  margin: 0;
  padding: 0;
  font: inherit;
}
